#calculator {
    --width: 384px;

    --btn-gap: 6px;
    --btn-size: calc((var(--width) - var(--btn-gap)*3) / 4);
    
    width: var(--width);
}

#calculator #screen {
    text-align: right;
    font-size: 6em;
}

#calculator #keyboard {
    display: grid;
    grid-template-columns: repeat(4, var(--btn-size));
    grid-auto-rows: var(--btn-size);
    gap: var(--btn-gap);
}

#calculator #keyboard button {
    background: #333333;
    color: #fff;
}

button {
    border-radius: var(--btn-size);
    font-size: 1.5em;
}

button.span-2 {
    grid-column: span 2;
}